#menubar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
  background-color: var(--primary-bg);
  width: 95%;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 1px solid rgb(17, 17, 17);
}
