#app {
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu-icon {
  position: fixed;
  top: 3.5%;
  left: 1%;
  z-index: 2;
  scale: 1.5;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--primary-bg);
  border-radius: 2px;
  border: 1px solid rgb(17, 17, 17);
  padding: 0.05rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
#menu-icon:hover {
  color: var(--highlight);
  transform: scale(1.2);
}
#menu-icon:active {
  background-color: var(--highlight);
  border-color: var(--highlight);
  transform: scale(0.95);
  color: white;
  transition: 0.1s;
}
